NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

DATABASE_URL=postgres://dogfood:dogfood_dev_password@localhost:5432/dogfood

SESSION_SECRET=replace_this_in_production

TRUST_PROXY=false
SEED_MODE=full
NEXT_TELEMETRY_DISABLED=1
